.namaApp {
  font-size: 17px;
}

.menu-side {
  border: 1px solid green;
  margin-bottom: 120px !important;
}

/* Dashboard - Start */
.content-wrapper {
  height: 70vh;
}
.box {
  position: relative;
}
.text {
  padding-top: 8%;
  padding-left: 3%;
}
.text p {
  font-weight: 500;
  font-size: 18px;
}
.img-box {
  display: flex;
  justify-content: flex-end;
}
.school {
  width: 100vh;
  height: 60vh;
}
.circle {
  position: absolute;
  top: -8.5%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #017143;
  clip-path: circle(500px at right 800px);
}
/* Dashboard - End */
